*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(0, #120c56, #000000);
   
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.stars{
    position: relative;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px white,
    200px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 600px white,
    200px 190px white,
    80px 300px white,
    300px 387px white,
    250px 123px white,
    200px 81px white,
    150px 1px white,
    320px 123px white,
    1090px 80px white,
    900px 120px white,
    980px 20px white,
    689px 130px white,
    904px 50px white,
    789px 100px white,
    990px 600px white,
    1020px 190px white,
    1097px 300px white,
    992px 387px white,
    832px 123px white,
    998px 81px white,
    1030px 99px white,
    1200px 123px white;
    animation: anim-stars 20s linear infinite;
}

.stars::after{
    content: " ";
    position: absolute;
    top: 150px;
    width: 3px;
 border-radius: 50%;
    box-shadow: 50px 30px white,
    200px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    320px 600px white,
    200px 190px white,
    80px 300px white,
    300px 387px white,
    250px 123px white,
    200px 81px white,
    150px 1px white,
    320px 123px white,
    1090px 80px white,
    900px 120px white,
    980px 20px white,
    689px 130px white,
    904px 50px white,
    789px 100px white,
    990px 600px white,
    1020px 190px white,
    1097px 300px white,
    992px 387px white,
    832px 123px white,
    998px 81px white,
    1030px 99px white,
    1200px 123px white;
}

@keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-550px);
    }
}

.logo{
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 150px;
}

.container{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

p.coiso{
    color: rgba(255, 255, 255, 0.75); 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    width: 15em;
    animation: type 4s steps(90, end); 
    margin-top: 20px;
  }
  
  @keyframes type{ 
    from {width: 0; } 
  }
  
  p.aparece{
    display: none;
    color: rgba(255, 255, 255, 0.75); 
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    width: 6.5em;
    animation: type 1.5s steps(90, end);
  }

@media(max-width: 600px){
    p.coiso{
        font-size: 1.5em;
        flex-wrap: wrap;
        margin-top: 15px;
    }
    p.aparece{
        font-size: 1.5em;
        width: 6.5em;
        margin:0 auto;
        margin-top: 15px;
    }
    .logo{
        width: 150px;
        height: 100px;
    }
}
@media(max-width: 400px){
    p.coiso{
        font-size: 1.15em;
        flex-wrap: wrap;
    }
    p.aparece{
        font-size: 1.15em;
        width: 6.5em;
        margin:0 auto;
    }
    .logo{
        width: 100px;
        height: 80px;
    }
}
